body {
	background-color:#23272a; 
}
.nav {
	width:100%;
	display: flex;
	justify-content: center;
	background-color: #333333;
	position: fixed;
	margin: 0px;
	top: 0px;
	left: 0px;
	border-bottom: solid 6px #23272a;
	z-index: 5;
}

.nav a{
	height:18px;
	display: block;
	padding-top:37.75px;
	padding-bottom:37.75px;
	padding-right:40px; 
	padding-left:40px;
	margin:auto;
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
  	text-align: center;
  	text-decoration: none;
}

.logo{
	display: block;
	padding: 0px
	margin:auto;
	color: white;
  	text-align: center;
  	padding: 16px;
  	text-decoration: none;
}

div.nav a img{
	width:90px
} 

div.nav a:hover {
	background-color: #111111
} 

div.pres {
	height: 100%;
	z-index: 1;
	position: fixed;
	left:0px;
	padding-top: 200px;
	padding: 200px;
	align-self: center;
	background-image: url("../img/bg/bg-pres.png");
	background-attachment: fixed;
	background-size:100%; 
}

div.pres .prestext{
	color: white;
}

div.after-pres{
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 1000px;
	margin: 0 auto;
	width: 100%;
	height: auto;
	height: 100%;
	min-height: 100%;
	z-index: 2;
	background-color: #333333;
	border-top: solid white 3px;
}


